<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Swagger UI</title>
  <%= favicon_link_tag "swagger/favicon-32x32.png", size: "32x32" %>
  <%= favicon_link_tag "swagger/favicon-16x16.png", size: "16x16" %>
  <%= stylesheet_link_tag "swagger/swagger-ui.css" %>
  <%= stylesheet_link_tag "swagger/swagger-reset.css" %>
  <%= javascript_include_tag "swagger/swagger-ui-bundle.js" %>
  <%= javascript_include_tag "swagger/swagger-ui-standalone-preset.js" %>
  <%= javascript_include_tag "swagger/swagger.js" %>
</head>
<body>
<div id="swagger-ui"></div>
</body>
</html>
